module.exports=`
/**/

.zp117 {
    position: relative;
    width: 152px;
    height: 152px;
    color: rgb(81 81 81);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    display: inline-block;
}

.zp117input {
    overflow: hidden;
}

.zp117input input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
    font-size: 0;
}

.zp117 img {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

.zp117 span {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    background: #e3e3e3;
    border-top-right-radius: 7px;
    padding: 2px;
    z-index: 9;
}

.zp117camera {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(0, 0, 0, 0.2);
    width: 40%;
}

.zp117 label {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: rgb(105, 105, 105);
    cursor: pointer;
}

.zp117.uploading {
    border-radius: 50%;
}

.zp117.uploading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #cdd1e0;
    border-top-color: #388AE5;
    animation: loading 2s infinite linear;
}

.zp117.uploading>div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.7);
}

.zp117rm {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 54px;
    z-index: 99;
    cursor: pointer;
    line-height: 9px;
    padding: 3px;
    width: 13px;
    height: 13px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    color: #fff;
}

.zp117rm:hover {
    background-color: rgba(0, 0, 0, .5);
}

.zp117 .zmodal {
    width: 750px;
    max-width: calc(100% - 8px);
}

.zp117 .zmodal input {
    width: 100%;
}

.zdesktop .zp117rm {
    display: none;
}

.zdesktop .zp117:hover .zp117rm {
    display: block;
}

`